<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjhtnQ4GE010ED8hRMaGZjpdApSk43z1I</string>
	<key>GCM_SENDER_ID</key>
	<string>1058155430593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>skip.fireside.App</string>
	<key>PROJECT_ID</key>
	<string>skip-fireside</string>
	<key>STORAGE_BUCKET</key>
	<string>skip-fireside.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058155430593:ios:d3a7a76d92b20132370a40</string>
</dict>
</plist>
